@page "/"

<PageTitle>Index</PageTitle>

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="3">
            <MudPaper>
                <MudText Typo="Typo.h3" GutterBottom="true">
                    Propah idea for data storage: sqlite
                </MudText>

                <MudButton OnClick="DoTheSet">Set</MudButton>

                <RoosterBoard.Pages.Tools.Test @ref="TestComp" />

                <p>en dan: @clickedText</p>
            </MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
        </MudItem>
        <MudItem xs="3">
            <MudPaper>
                <MudText Typo="Typo.h3">Hello, world!</MudText>
                <MudText>
                    Wat willen we met dit? Een applicatie voor het bijhouden van je bestaan, denk aan Notion maar dan een van jezelf.
                </MudText>
                <MudList>
                    <MudListSubheader>Features</MudListSubheader>
                    <MudListItem>Agenda</MudListItem>
                    <MudListItem>Notities</MudListItem>
                </MudList>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private string clickedText = "nee";

    private RoosterBoard.Pages.Tools.Test? TestComp { get; set; }

    protected override void OnInitialized()
    {
        
    }

    private void DoTheSet()
    {
        if (TestComp != null)
        {
            TestComp.SetCallbackEvent(Happening);
            InvokeAsync(StateHasChanged);
        }
    }

    private void Happening(string text)
    {
        clickedText = text;
    }
}